@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');


.principal {
    padding: 50px;
    margin: 20px;
    font-family: 'Indie Flower', cursive;
}

.principal img {
    width: 100%;
    border-radius: 5%;
}

.ingredientes {
    padding: 50px;
    font-family: 'Indie Flower', cursive;
}



.titulo-principal {
    font-family: 'Lobster', cursive;
}

h2, h5, .titulo_tiempo, .titulo-principal {
    font-family: 'Lobster', cursive;

}

.tiempo {
    display: grid;
    border-radius: 5%;
    height: 40%;
    width: 20%;
    box-shadow: 7px 13px 37px #180a27;
    position: absolute;
    right: 80px;
}

.tiempo img {
    height: 30px;

}

.tiempo{
    font-family:'Indie Flower', cursive;
}

.pasos {
    text-align: justify;
    width: 50%;
    font-family: 'Indie Flower', cursive;

}

@media screen and (max-width: 700px) {
    .main {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .tiempo {
        display: none;
    }

}